@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
 padding: 0;
 margin: 0;
}

:root {
--body-color: rgba(173, 173, 173, 0.377);
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;

}

body {
 background-color: var(--body-color);
 font-family: var(--body-font);
}
